In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


df = pd.read_csv("house_pricing.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df_ready = df.dropna(axis=1)

In [4]:
df_ready.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [5]:
df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

In [6]:
X = df_ready.iloc[:, :-1]
y = df_ready.iloc[:, -1]

In [7]:
X = pd.get_dummies(df_ready, drop_first = True) #retire la derniere colonne sinon colinearitÃ©

In [8]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [10]:
y_pred = regressor.predict(X_test)

In [11]:
y_pred = pd.DataFrame(y_pred)

In [12]:
y_pred.head()

          0
0  201000.0
1  133000.0
2  110000.0
3  192140.0
4   88000.0

In [13]:
y_test = pd.DataFrame(y_test)

In [14]:
#pour Ã©valuer la qualitÃ© du model il faut voir si les valeurs de y_pred et y_test sont eloignÃ©es

In [15]:
evaluation = np.abs(y_pred.values - y_test.values)  # en valeur absolue

In [16]:
pd.DataFrame(evaluation)  #ecart entre les deux valeurs

            0
0       376.0
1         0.0
2         0.0
3       140.0
4         0.0
5         0.0
6      2078.0
7         0.0
8    133343.0
9       200.0
10        0.0
11       95.0
12      100.0
13        0.0
14      200.0
15      100.0
16        0.0
17      400.0
18       50.0
19      100.0
20        0.0
21      500.0
22        0.0
23        0.0
24        0.0
25      100.0
26      500.0
27        0.0
28        0.0
29        0.0
..        ...
262     500.0
263     250.0
264    7500.0
265     978.0
266    4000.0
267    4000.0
268       0.0
269     350.0
270       0.0
271       0.0
272       0.0
273     500.0
274    1224.0
275    1000.0
276       0.0
277       0.0
278       0.0
279       0.0
280     100.0
281     500.0
282     500.0
283       0.0
284    1379.0
285     100.0
286       0.0
287    4900.0
288   56657.0
289      40.0
290    1500.0
291    1776.0

[292 rows x 1 columns]

In [17]:
#faire l'erreur moyenne au carrÃ©

In [18]:
evaluation.mean()

1396.2123287671234

In [19]:
y.mean()

180921.19589041095

In [20]:
evaluation.mean()/y.mean()*100

0.7717240215529243

In [21]:
from sklearn.ensemble import RandomForestRegressor   
regressor_rf = RandomForestRegressor(n_estimators = 20, random_state = 0)
regressor_rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [22]:
y_pred_rf = regressor_rf.predict(X_test)

In [23]:
pd.DataFrame(y_pred_rf).head()

           0
0  200786.15
1  132900.00
2  110020.00
3  192385.00
4   88125.00

In [24]:
y_test.head()

     SalePrice
529     200624
491     133000
459     110000
279     192000
655      88000

In [25]:
evaluation_rf = np.abs(pd.DataFrame(y_pred_rf).values - y_test.values)

In [26]:
pd.DataFrame(evaluation_rf).mean()/y.mean()*100

0    0.604466
dtype: float64